In [16]:
import krakenex
from pykrakenapi import krakenAPI
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta, time
import decimal
import json

ModuleNotFoundError: No module named 'krakenex'

In [21]:
import decimal
import time

In [22]:
def now():
    return decimal.Decimal(time.time())

In [25]:
def get_balance():
    with open('balance.json', 'r') as f:
        try:
            return json.load(f)
        except:
            return {'ZUSD' : '1000.0', 'EUR.HOLD': '0.0000'}

In [ ]:
def update_balance(amount, name, price, sold):
    balance = get_balance()
    if sold:

In [8]:
df = yf.download('SBIN.NS', start= '2021-05-01' ,end = '2021-06-11', interval = '5m')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-05-03 09:15:00+05:30,348.500000,348.500000,341.450012,344.250000,344.250000,0
2021-05-03 09:20:00+05:30,344.250000,346.149994,342.549988,345.799988,345.799988,2745094
2021-05-03 09:25:00+05:30,345.799988,346.700012,344.100006,345.950012,345.950012,1347136
2021-05-03 09:30:00+05:30,345.899994,346.299988,344.500000,344.850006,344.850006,815824
2021-05-03 09:35:00+05:30,344.750000,346.049988,344.350006,345.950012,345.950012,940895
...,...,...,...,...,...,...
2021-06-10 15:05:00+05:30,432.000000,432.649994,431.950012,432.399994,432.399994,653297
2021-06-10 15:10:00+05:30,432.450012,432.600006,431.899994,432.000000,432.000000,825676
2021-06-10 15:15:00+05:30,432.200012,432.600006,431.850006,432.450012,432.450012,1065407
2021-06-10 15:20:00+05:30,432.399994,433.000000,431.899994,432.149994,432.149994,1255945
2021-06-10 15:25:00+05:30,432.200012,432.450012,432.000000,432.149994,432.149994,491089

In [10]:
now = date.today()

datetime.date(2021, 6, 13)